.topNav {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 120px;
}
.topNav .left {
  width: 40%;
}
.topNav .search {
  background-color: transparent;
  border: 1px solid #1a5f7a;
  border-radius: 100px;
  padding: 10px 20px;
  width: 100%;
  height: 40px;
  color: white;
  font-size: 18px;
  outline: none;
  min-width: 350px;
}
.topNav .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.topNav .right .profile {
  width: 40px;
  height: 40px;
  background: #57c5b6;
  border-radius: 100px;
}
.topNav .right .address {
  color: white;
}
