.admin {
  display: flex;
}

/* ==========================================   SIDEBAR BUTTONS  ======================================= */

.admin .btns {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  gap: 1rem;
  margin: 0 5vw;
  width: 24vw;
}
.admin .btns button {
  width: 222px;
  border: 1px solid #1a5f7a;
  height: 40px;
  border-radius: 100px;
  color: #57c5b6;
  background-color: #1a5f7a70;
  font-weight: 500;
}

.admin .listOfApplications {
  width: 60vw;
}

.admin .top {
  display: flex;
  justify-content: space-between;
  width: 74vw;
  padding: 30px;
}
.admin #selected {
  background-color: #159895;
  color: #002b5b;
  font-weight: 500;
}

.admin .top .heading {
  font-size: 20px;
  font-weight: 500;
  color: white;
}

/* ===========================================   CIRCLES COLORS   ======================================= */

.admin .colors {
  display: flex;
  gap: 0.5rem;
}

.c {
  width: 20px;
  height: 20px;
  border-radius: 100px;
}
.new {
  border: 1px solid #1a5f7a;
}
.under-verification {
  background-color: yellow;
}
.verified {
  background-color: green;
}
.rejected {
  background-color: rgb(255, 72, 0);
}

/* ========================================  EACH LIST  ================================= */

.eachList {
  display: flex;
  margin: 30px;
  padding: 15px 30px;
  background-color: #1a5f7a71;
  border: 1px solid #1a5f7a;
  border-radius: 10px;
  justify-content: space-between;
  align-items: baseline;
  cursor: pointer;
}
.eachList .docName {
  color: #57c5b6;
  font-size: 20px;
  font-weight: 500;
}
.eachList .timeDate {
  color: #23799a;
  margin-right: 20px;
  font-size: 15px;
}
.eachList .right {
  display: flex;
}
